altgraph==0.16.1
asgiref==3.2.3
astroid==2.2.4
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
cloudpickle==1.2.2
colorama==0.4.1
cycler==0.10.0
deap==1.3.0
decorator==4.4.1
defusedxml==0.6.0
Django==3.0.2
django-bootstrap4==1.1.1
django-crispy-forms==1.8.1
docutils==0.14
entrypoints==0.3
future==0.18.2
graphviz==0.13
gym==0.15.4
idna==2.8
importlib-metadata==0.23
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.13
jedi==0.15.1
Jinja2==2.10
joblib==0.14.1
json5==0.8.5
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==1.2.1
jupyterlab-server==1.0.6
kiwisolver==1.1.0
lab==4.2
landslide==1.1.6
lazy-object-proxy==1.3.1
macholib==1.13
Markdown==2.6.11
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
nbconvert==5.6.1
nbformat==4.4.0
nltk==3.4.5
notebook==6.0.2
numpy==1.17.2
oauthlib==3.1.0
opencv-python==4.1.1+contrib
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.0.0
ply==3.11
prince==0.6.3
prometheus-client==0.7.1
prompt-toolkit==2.0.10
pydot==1.4.1
pydot-ng==2.0.0
pyglet==1.3.2
Pygments==2.2.0
PyInstaller==3.6
pylint==2.3.1
PyMySQL==0.9.3
pyparsing==2.4.2
PyQt5==5.14.1
PyQt5-sip==12.7.0
pyrsistent==0.15.5
PySocks==1.7.1
python-dateutil==2.8.0
python-slugify==4.0.0
pytz==2019.3
pywin32==225
pywin32-ctypes==0.2.0
pywinpty==0.5.5
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.22.0
requests-oauthlib==1.2.0
scikit-learn==0.22.1
scipy==1.4.1
Send2Trash==1.5.0
simplejson==3.16.0
six==1.11.0
sklearn==0.0
soupsieve==1.9.5
sqlparse==0.3.0
terminado==0.8.2
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
tornado==6.0.3
tqdm==4.41.1
traitlets==4.3.3
tweepy==3.8.0
typed-ast==1.3.1
urllib3==1.25.6
virtualenv==16.7.9
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.11.1
wxPython==4.0.7.post2
zipp==0.6.0
