{% extends 'partials/header_footer.html' %}

{% load static %}

{% block content%}
<main role="main" class="container">
<div class="cart_page">
  <table class="table product-table mb-0">
  <h2>Votre panier</h2>

  <!-- Table head -->
  <thead class="mdb-color lighten-5">
    <tr>
      <th></th>
      <th class="font-weight-bold">
        <strong>Article</strong>
      </th>
      <th class="font-weight-bold">
        <strong>Couleur</strong>
      </th>
      <th></th>
      <th class="font-weight-bold">
        <strong>Prix</strong>
      </th>

      <th class="font-weight-bold">
        <strong>Total</strong>
      </th>
      <th></th>
    </tr>
  </thead>
  <!-- /.Table head -->

  <!-- Table body -->
  <tbody>
    {% for order_article in object.articles.all %}
        <!-- rows -->
        <tr>
        <th>
          <div class="cart_articles_preview_image">
            <span></span>
            <a href="{{ order_article.article.get_absolute_url }}">
            <img src="{{  order_article.article.article_image.url }}"></a>
        </div>
         
        </th>
        <td class="polol">
          <h5>
            <strong><a href="{{ order_article.article.get_absolute_url }}">{{ order_article.article.article_name }}</a></strong>
          </h5>
        </td>
        <td>{{ order_article.article.color }}</td>
        <td></td>
        <td>{{ order_article.article.price }} CHF</td>
        <td class="font-weight-bold">
          <strong>{{ order_article.get_article_total_price }} CHF</strong>
        </td>
        <td>
          {% comment %}
          <button type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top"
            title="Remove item">X
          </button>
          {% endcomment %}
          <a href="{% url 'eduardoApp:remove-from-cart' order_article.article.slug %}" id="button" class="btn btn-sm btn-danger">X</a>
        </td>
      </tr>
      <!-- /. rows -->

    {% endfor %}
    <!-- buttons -->
    <tr>
      <td  colspan="5">Total</td>
      <td>{{ object.get_total }} CHF</td>
      <td></td>
    </tr>
   
    
    <!-- /. buttons -->
  </tbody>

  
   
  <!-- /.Table body -->

</table>
<a href="{% url 'eduardoApp:index' %}" id=button class="btn btn-primary">Continuer les achats</a>
<a href="{% url 'eduardoApp:validate-order' %}" id=button class="btn btn-warning">Valider les achats</a>

</div>
</main>

    <main>

      <div class="container my-5 py-3 z-depth-1 rounded">


        <!--Section: Content-->
        <section class="dark-grey-text">
      
          <!-- Shopping Cart table -->
          <div class="table-responsive">
            <h2>Votre panier</h2>
            <table class="table product-table mb-0">
      
              <!-- Table head -->
              <thead class="mdb-color lighten-5">
                <tr>
                  <th></th>
                  <th class="font-weight-bold">
                    <strong>Article</strong>
                  </th>
                  <th class="font-weight-bold">
                    <strong>Couleur</strong>
                  </th>
                  <th></th>
                  <th class="font-weight-bold">
                    <strong>Prix</strong>
                  </th>

                  <th class="font-weight-bold">
                    <strong>Total</strong>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <!-- /.Table head -->
      
              <!-- Table body -->
              <tbody>
                {% for order_article in object.articles.all %}
                    <!-- rows -->
                    <tr>
                    <th scope="row">
                      <img src="{{ order_article.article.article_image.url }}" alt="" class="img-fluid z-depth-0" width="20%">
                    </th>
                    <td>
                      <h5 class="mt-3">
                        <strong><a href="{{ order_article.article.get_absolute_url }}">{{ order_article.article.article_name }}</a></strong>
                      </h5>
                    </td>
                    <td>{{ order_article.article.color }}</td>
                    <td></td>
                    <td>{{ order_article.article.price }} CHF</td>
                    <td class="font-weight-bold">
                      <strong>{{ order_article.get_article_total_price }} CHF</strong>
                    </td>
                    <td>
                      {% comment %}
                      <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                        title="Remove item">X
                      </button>
                      {% endcomment %}
                      <a href="{% url 'eduardoApp:remove-from-cart' order_article.article.slug %}" id="button" class="btn btn-sm btn-primary">X</a>
                    </td>
                  </tr>
                  <!-- /. rows -->

                {% endfor %}
                <!-- buttons -->
                <tr>
                  <td  colspan="5">Total</td>
                  <td>{{ object.get_total }} CHF</td>
                  <td></td>
                </tr>
                <tr>
                  <td><a href="{% url 'eduardoApp:index' %}" id=button class="btn btn-primary">Continuer le shopping</a></td> 
                  <td colspan="4"></td>
                  <td><a href="{% url 'eduardoApp:validate-order' %}" id=button class="btn btn-warning">Valider les achats</a></td>
                  <td></td>
                </tr>
                <!-- /. buttons -->
              </tbody>
              <!-- /.Table body -->
      
            </table>
      
          </div>
          <!-- /.Shopping Cart table -->
      
        </section>
        <!--Section: Content-->
      
      
      </div>



      {% comment %}
        <div class="container">
            <div class="table-responsive text-nowrap">
                <h2>Mon panier</h2>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nom de l'article</th>
                      <th scope="col">Prix</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order_article in object.articles.all %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ order_article.article.article_name }}</td>
                      <td>{{ order_article.article.price }}</td>
                      <td>{{ order_article.get_article_total_price }}</td>
                    </tr>
                    
                    {% endfor %}
                    <tr>
                      <td  colspan="4">Total</td>
                      <td>{{ object.get_total }} CHF</td>
                    </tr>
                    <tr>
                      <td><a href="{% url 'eduardoApp:index' %}" id=button class="btn btn-primary">Continuer le shopping</a></td> 
                      <td colspan="3"></td>
                      <td><a href="{% url 'eduardoApp:validate-order' %}" id=button class="btn btn-warning">Valider les achats</a></td>
                    </tr>
                  </tbody>
                </table>
              
              </div>
        </div>
        {% endcomment %}
    </main>
    
{% endblock %}