{% extends 'partials/header_footer.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'static/eduardoApp/style.css' %}">

{% block content%}

<div class="content">
    <div class="full_article">
        <div class="article_image">
            <span class="image"></span>
            <img src="{{ article.article_image.url }}">
        </div>
        
        
        <div class="article_details">
            <h1>{{ article.article_name }}</h1>
            <h2>Vendu par</h2>
            <p>{{ article.seller }}</p>
            <h2>Prix: CHF {{ article.price }} .-</h2>
            {% comment %} <button type="submit" id="button" class="btn btn-primary">Ajouter au panier</button> {% endcomment %}
            {% ifequal article.seller user%}
            {% else %}

            
            <a href="{{ article.get_add_to_cart_url }}" id="button" class="btn btn-primary">Ajouter au panier</a>
            <a href="{{ article.get_remove_from_cart_url }}" id="button" class="btn btn-danger">Supprimer du panier</a>
            {% endifequal %}

            
            <h2> Détails </h2>
            <ul>
                <li>Quantité : {{ article.quantity }}</li>
                <li>Etat : {{ article.state }}</li>
                <li>Couleur : {{ article.color }}</li>
                <li>Catégorie : {{ article.category }}</li>
            </ul>
            <h2>Description</h2>
            <p>{{article.detail_text}}</p>


            
        </div>
    </div>
</div>




{% endblock %}