{% extends 'partials/header_footer.html' %}
{% load static %}
<head>
   
</head>

{% block content%}
<main role="main" class="container">
<div class="index_page">
    <div class="index_categorys">

        {% for category in category_list %}
        <div class="index_category">

            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
        </div>
               {% endfor %}
    </div>



<h2>Dernières offres</h2>

<div class="articles_preview">
    {% for article in article_list %}
                        {% if article.available %}
    <div class="articles_preview_one">
        <div class="articles_preview_image">
            <span></span>
            <img src="{{ article.article_image.url }}">
        </div>
        <div class="articles_preview_details">
            <strong>
                <a href="{% url 'eduardoApp:detail' article.slug %}">{{ article.article_name }}</a>
            </strong>
            <div class="articles_preview_price">
                <strong> CHF {{ article.price |floatformat:"2" }}.-</strong>
            </div>
            
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
    

</div>
</main>
{% endblock %}
