{% extends 'partials/header_footer.html' %}

{% load static %}

{% block content%}

<h2 class="h2_profile">{{user.get_username}},

{% if order_list %} 
voici vos différents achats chez nous</h2>
<p class="p_profile">Nom de l'article</p>
<p class="p_profile">Acheté le:</p>

    {% for order in order_list %}
<div class="profile_achats">

        {% for article in order.articles.all %}
        <div>
            <p> {{ article }}  </p>
            {% endfor %}
        </div>
        <div>
            <p> {{ order.ordered_date }}  </p>
        </div>

</div>
    {% endfor %}
    <div>
        <h3>Merci de votre confiance.</h3>
    </div>
{% else %}
vous n'avez effectué aucun achat chez nous encore!</h2>
{% endif %}



{% endblock %}