{% extends 'partials/header_footer.html' %}
{% load static %}
<head>
   
</head>
{% block content %}
<main role="main" class="container">
<div class="search_form">
    <h2>Recherche avancée</h2>
    <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-md-3 col-lg-4">
                <label for="priceMin">Nom de l'article</label>  
                <input class="form-control py-2 border-right-0 border"  type="search" name="title_contains" placeholder="Que recherchez-vous ?" value="{% if title %}{{title}}{% endif %}"/>
            </div> 
            <div class="form-group col-md-2">
                <label for="category">Catégorie</label>
                <select id="category" class="form-control" name="category">
                    <option selected>{% if category %}{{category}}{% else %}Tous{% endif %}</option>
                    {% for cat in categories %}
                    <option value="{{ cat }}">{{ cat }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-2 col-lg-2">
                <label for="priceMin">Prix min</label>
                <input type="number" min=1 class="form-control" id="priceMin" name="priceMin" value="{% if priceMin %}{{priceMin}}{% else %}1{% endif %}">
            </div>
            <div class="form-group col-md-2 col-lg-2">
                <label for="priceMax">Prix max</label>
                <input type="number" min=2 class="form-control" id="priceMax"  name="priceMax" value="{% if priceMax %}{{priceMax}}{% else %}100000{% endif %}">
            </div>
            <div class="form-group col-md-2 col-lg-2">
                <label for="search" style="visibility:hidden;">Hidden</label>
                <button class="btn btn-outline-success" type="submit">Chercher</button>     
            </div> 
        </div>
    </form>
    <hr/>
    <p class="search_results_label"> 
       {% if queryset.paginator.count == 0 %}
            Aucune offre 
        {% elif queryset.paginator.count  == 1 %}
             1 offre 
        {% else %}
             {{queryset.paginator.count}} offres 
        {% endif %}
    </p>
    <div class="articles_preview">
        {% for article in queryset %}
            <div class="articles_preview_one">
                <div class="articles_preview_image">
                    <span></span>
                    <a href="{{ article.get_absolute_url }}">
                        <img src="{{ article.article_image.url }}">
                    </a>
                </div>
                <div class="articles_preview_details">
                    <strong>
                        <a href="{{ article.get_absolute_url }}">{{ article.article_name }}</a>
                    </strong>
                    <div class="articles_preview_price">
                        <strong> CHF {{ article.price |floatformat:"2" }}.-</strong>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if queryset.has_previous %}
           <a class="pagination-item" href="?page={{ queryset.previous_page_number }}{% if request.GET.title_contains %}&title_contains={{ request.GET.title_contains }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.priceMin %}&priceMin={{ request.GET.priceMin }}{% endif %}{% if request.GET.priceMax %}&priceMax={{ request.GET.priceMax }}{% endif %}">Précédent</a>
        {% endif %}
        {% for num in queryset.paginator.page_range %}
            {% if queryset.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
            {% elif num > queryset.number|add:'-3' and num < queryset.number|add:'3' %}
                <a class="pagination-number" href="?page={{ num }}{% if request.GET.title_contains %}&title_contains={{ request.GET.title_contains }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.priceMin %}&priceMin={{ request.GET.priceMin }}{% endif %}{% if request.GET.priceMax %}&priceMax={{ request.GET.priceMax }}{% endif %}"> {{ num }} </a>
            {% endif %}
        {% endfor %}
        {% if queryset.has_next %}
            <a class="pagination-item" href="?page={{ queryset.next_page_number }}{% if request.GET.title_contains %}&title_contains={{ request.GET.title_contains }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.priceMin %}&priceMin={{ request.GET.priceMin }}{% endif %}{% if request.GET.priceMax %}&priceMax={{ request.GET.priceMax }}{% endif %}">Suivant</a>
        {% endif %}
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
{% endblock %}