li a {
    color: green;
}

/*Verifier container dans search*/
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.empty-div{
  position: absolute;
  right: 0.625em;
  top: 0.3em;  }
/*
@media screen and (max-width: 50em) {
  body {
    background-color: olive;

  }

  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  
}*/

.content
{
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  display: flex;
}

.full_article
{
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 2%;
}

.article_image
{
  width: 80%;
  border: 1px solid blue;
  white-space: nowrap;
  background-color: lightskyblue;
  text-align: center; 
  margin-right: 4px;
}



.flex-container li{
  background-color: white;
}

.image 
{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.price
{
  color: blue;
  font-weight: bold;
  font-size: 24px;
  text-align: right;
}



.article_details
{
  display: flex;
  flex-direction: column;
  padding:2%;
  margin-left: 4px;
  background-color: whitesmoke;

}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 9.375em;
  margin: 0.26666666666666667em;
  text-align: center;
  line-height: 3.125em;
  font-size: 1.875em;
  margin-left: auto;
  margin-right: auto;  
}

 .nav-link{
   background-color: rgba(0, 0, 0,0);
 } 

nav{
  margin-bottom: 15px;
}

.content h2
{
  font-size: 1.4em; 
  font-weight: bold;
}

.form-article {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 38.5em;
  margin: 0 auto  6.25em;
  margin-top: 3.5em;
  padding: 2.8125em;

  box-shadow: 0 0 1.25em

  0 rgba(0, 0, 0, 0.2), 0 0.3125em 0.3125em 0 rgba(0, 0, 0, 0.24);
}

.form-article h2{
  text-align: center;
}
.form-article input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 0.9375em;
  padding: 0.9375em;
  box-sizing: border-box;
  font-size: 0.875em;
}
.form-article button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 0.9375em;
  color: #FFFFFF;
  font-size:  0.875em;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-article button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form-article .message {
  margin: 0.9375em 0 0;
  color: #b3b3b3;
  font-size: 0.75em;
}
.form-article .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form-article textarea
{
  resize: none;
  height: 5em;
}




.profile_achats{
  border-style: dashed;
  clear:both;
display:inline-block;
margin-left: 5em;
}






